:root {
	/* --bg-color: #4a4a4a; */
	--bg-color: #edf0f0;
	--font-color: white;
	--card-color: white;
	--card-border: none;
	/* --card-border: 1px solid #f4f4f4; */
	font-size: 16px;
}
.p-inputtext {
	width: 100% !important;
	border-color: #a6a6a680 !important;
	/* background: rgb(49, 49, 49) !important; */
}
td {
	padding: 20px 15px 20px 5px !important;
}
.p-menubar-button {
	margin: 0 0 0 auto;
}
.p-menuitem-text,
.p-menuitem-icon {
	color: var(--font-color) !important;
}
.p-menubar-root-list,
.p-menuitem-link {
	background: #313131 !important;
}
.p-menuitem-link:hover {
	background: #6e7073 !important;
}
