:root {
	--bg-color: #566877;
	--font-color: white;
	--card-color: white;
	--card-border: none;
	font-size: 16px;
}
.p-inputtext {
	width: 100% !important;
	border-color: #a6a6a680 !important;
}
td {
	padding: 20px 15px 20px 5px !important;
}
.p-menubar-button {
	margin: 0 0 0 auto;
}
.p-menuitem-text,
.p-menuitem-icon {
	color: var(--font-color) !important;
}
.p-menubar-root-list,
.p-menuitem-link {
	background: #313131 !important;
}
.p-menuitem-link:hover {
	background: #6e7073 !important;
}
.p-lg-4,
.p-md-4,
.p-md-5 {
	padding: 0.5rem !important;
}
a:hover {
	text-decoration: none !important;
}
.p-card-body {
	padding: 0.5rem 1rem !important;
}
